aniso8601==7.0.0
asgiref==3.5.2
async-timeout==4.0.2
atlassian-python-api==3.28.1
attrs==22.1.0
autobahn==22.7.1
Automat==22.10.0
bcrypt==3.2.0
boto3==1.26.60
bugsnag==4.1.1
cachetools==5.2.0
certifi==2020.6.20
cffi==1.15.1
channels==3.0.5
channels-redis==3.4.1
chardet==3.0.4
charset-normalizer==2.1.1
constantly==15.1.0
cron-descriptor==1.2.35
croniter~=1.3.8
cryptography==38.0.3
daphne==3.0.2
Deprecated==1.2.13
dj-database-url==0.5.0
Django==4.1.3
django-heroku==0.3.1
django-import-export==3.3.3
django-model-utils==4.4.0
django-redis==5.4.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
filedate==2.0
google-api-core==2.8.2
google-auth==2.9.0
googleapis-common-protos==1.56.3
googlemaps==4.6.0
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.3.post0
gunicorn==20.0.4
heroku3==5.1.4
holidays~=0.21
httplib2==0.20.4
hyperlink==21.0.0
idna==2.10
incremental==22.10.0
kafka-helper==0.2
kafka-python==2.0.2
lxml==4.9.2
msgpack==1.0.4
numpy==1.23.4
oauthlib==3.2.2
openpyxl==3.0.10
packaging==21.3
pandas==1.5.1
paramiko==2.11.0
Pillow==9.5.0
promise==2.3
protobuf==4.21.2
psutil==5.9.3
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycron==3.0.0
PyJWT==2.10.1
PyNaCl==1.4.0
pyodbc==4.0.34; sys_platform == 'win32'
pyOpenSSL==22.1.0
pyparsing==3.0.9
pysftp==0.2.9
python-barcode==0.13.1
python-dateutil==2.8.2
python-dotenv==0.14.0
python-Levenshtein==0.21.0
python-rapidjson==1.9
pytz==2022.5
pyvin==0.0.2
random-username==1.0.2
redis==4.3.4
requests==2.25.1
requests-oauthlib==1.3.1
rich==13.3.4
ringcentral==0.7.16
rsa==4.8
Rx==1.6.1
service-identity==21.1.0
singledispatch==3.7.0
six==1.15.0
SQLAlchemy==1.4.42
sqlparse==0.4.1
text-unidecode==1.3
Twisted==22.10.0
twisted-iocpsupport==1.0.2; sys_platform == 'win32'
txaio==22.2.1
tzdata==2022.6
uritemplate==4.1.1
urllib3==1.25.11
uszipcode==1.0.1
vininfo~=1.7.0
WebOb==1.8.7
websockets==10.4
whitenoise==5.2.0
wrapt==1.14.1
xmltodict==0.13.0
uvicorn==0.25.0
zope.interface==5.5.1
